/** Header */
.jumbotron .display-4 {
	font-size: 2.5rem;
}

/** Result Box */
result-box li {
	cursor: pointer;
}

result-box li small {
	color: #999;
}

/** Autocomplete Box */
search-suggestions {
	position: absolute;
    top: calc(2.25rem + 2px );
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 250px;
    overflow: auto;
}

search-suggestions .list-group-item:first-child {
	border-radius: 0;
}

/** User Details modal */
.datil-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(22, 22, 22, 0.8);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.datil-modal .card {
	min-width: 320px;
    max-width: 600px;
    width: 95%;
}

.datil-modal h5 span {
	color: #999;
}

.datil-modal .fav-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 1px solid #999;
    position: relative;
}