<div 
	class="container"
	ng-if="$ctrl.searchCtrl.searchResult">
	
	<div 
		class="list-group"
		ng-if="$ctrl.searchCtrl.searchResult.length">

		<a 
			href="#" 
			class="list-group-item list-group-item-action"
			ng-repeat="item in $ctrl.searchCtrl.searchResult"
			ng-click="$ctrl.viewDetails( item )">
			
			<small class="pr-2">{{item.id}}</small>
			{{ item.username }}

		</a>
	</div>

	<div 
		class="alert alert-warning" 
		role="alert"
		ng-if="$ctrl.searchCtrl.searchResult.length === 0 && $ctrl.searchCtrl.userName">

		<strong>{{$ctrl.searchCtrl.searchedUserName}} not found</strong>
		<br>
		Can't find any username that match with '{{$ctrl.searchCtrl.searchedUserName}}'.
		Please, check your typing and try it again.
	</div>

	<div 
		class="alert alert-warning" 
		role="alert"
		ng-if="!$ctrl.searchCtrl.userName">

		Please, complete the search box typing any username.
	</div>

	<div 
		ng-if="$ctrl.showDetails"
		class="datil-modal">
		
		<div class="card">
			<h5 class="card-header">
				<small>{{ $ctrl.detailToShow.id }}</small>
				{{ $ctrl.detailToShow.username }}
			</h5>
			<div class="card-body">
				<h5 class="card-title">
					{{ $ctrl.detailToShow.first_name }} {{ $ctrl.detailToShow.last_name }}

					<span ng-if="$ctrl.detailToShow.title">
						{{ $ctrl.detailToShow.title }}
					</span>
				</h5>

				<ul class="list-group list-group-flush my-4">
					<li class="list-group-item">
						<strong>Country: </strong>
						{{ $ctrl.detailToShow.country }}
					</li>
					
					<li class="list-group-item">
						<strong>City: </strong>
						{{ $ctrl.detailToShow.city }}
					</li>
					
					<li class="list-group-item">
						<strong>Email: </strong>
						{{ $ctrl.detailToShow.email }}
					</li>
					
					<li 
						class="list-group-item"
						ng-if="$ctrl.detailToShow.fav_color">
						<strong>Favorite color: </strong>

						<span
							ng-style="{backgroundColor: $ctrl.detailToShow.fav_color }" 
							class="fav-color ml-1">
						</span>
					</li>

					<li 
						class="list-group-item"
						ng-if="$ctrl.detailToShow.blog">
						<a 
							ng-href="{{$ctrl.detailToShow.blog}}"
							target="_blank">
							Blog
						</a>
					</li>
				</ul>
				
				<a 
					href="#" 
					class="btn btn-outline-secondary"
					ng-click="$ctrl.closeDetails()">
					
					Close
				</a>
			</div>
		</div>
	</div>
</div>