<div
	ng-if="$ctrl.searchCtrl.searchSuggestions.length > 0">
	
	<div class="list-group">

		<a 
			href="#" 
			class="list-group-item list-group-item-action"
			ng-repeat="item in $ctrl.searchCtrl.searchSuggestions"
			ng-click="$ctrl.triggerSearch(item.username)">
			
			{{ item.username }}

		</a>
	</div>

</div>