<div class="container" ng-if="$ctrl.usersServiceError">
	<div class="alert alert-danger" role="alert">
		Oops! We can't seem to find users information you are looking for. Please, retry in a minute.
	</div>
</div>

<div class="container" ng-if="$ctrl.usersDataLoaded">
	<div class="input-group mb-3">
		<input 
			type="text" 
			class="form-control" 
			placeholder="Type an username" 
			aria-label="Recipient's username" 
			aria-describedby="basic-addon2"
			ng-keyup="$event.keyCode == 13 && $ctrl.onSearchTrigger()"
			ng-model="$ctrl.userName"
			ng-change="$ctrl.onSearchboxChange()">
		
		<div class="input-group-append">
			<button 
				class="btn btn-outline-secondary" 
				type="button"
				ng-click="$ctrl.onSearchTrigger()">
				
				Search
			</button>
		</div>

		<search-suggestions></search-suggestions>
	</div>	  
</div>

<result-box></result-box>