<div class="jumbotron">
	<div class="container">
		<h1 class="display-4">
			Users Search App
		</h1>
		
		<hr class="my-4">
		
		<p class="lead">
			Complete the search box below to get information about our users.
		</p>
	</div>
</div>

<search-box></search-box>